@mixin text-font {
  font-family: 'Oxanium', cursive;
}

@mixin code-font {
  font-family: 'Share Tech Mono', monospace;
}

body {
    @include text-font;
    font-size: 14px;
    border-top: solid 2px black;
    margin: 0;
    padding: 9;
}

code {
    @include text-font;
    font-size: 0.9em;
    padding: 0.1em 0.5em;
    background-color: #eee;
    text-shadow: 0 0 0.2em white;
    border-radius: 2px;
}

.container.source-elements {
    @include code-font;
    font-size: 0.85em;
}

.container.message {
    margin: 0.5em;
    line-height: 2em;
}

.container.tracing-status {
    color: #888;
    margin: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
}
