@mixin text-font {
  font-family: 'Oxanium';
}

@mixin code-font {
  font-family: 'Share Tech Mono', monospace;
}

* {
    @include text-font;
}

body {
    font-size: 14px;
    margin: 0;
}

code {
    @include text-font;
    font-size: 0.9em;
    padding: 0.1em 0.5em;
    background-color: #eee;
    text-shadow: 0 0 0.2em white;
    border-radius: 2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.coldmod {
    display: inline-block;
    position: fixed;
    bottom: -10px;
    right: 1em;
    color: white;
    text-shadow: 0px 1px black, 1px 0px black, 0px -1px black, -1px 0px black, 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    font-size: 3em;
    transform: skew(-15deg);
    user-select: none;
    cursor: default;
}

.container.heatmap {
    @include code-font;
    margin-top: 6em;
    margin-left: 1em;
}

.container.heatmap.data {
    font-size: 0.85em;
}

.container.heatmap.nodata {
    line-height: 2em;
    margin-left: 2em;
    position: fixed;
    top: 0;
    left: 0;
}

.container.tracing-status {
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    background-color: white;
    padding: 3px 5px;
    font-size: 0.85em;
}

.area.controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    z-index: 1000;
}

.container.controls {
    display: inline-block;
}


.container.controls .buttons {
    display: inline-block;
}

.toggle-button {
    display: inline-block;
    width: 3.25em;
    text-align: center;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 100;
    user-select: none;
}

.buttons.ascending .button-group:first-child .toggle-button::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 55%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: solid 6px black;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.buttons.descending .button-group:last-child .toggle-button:last-child::after {
    content: "";
    position: absolute;
    top: 110%;
    right: 2em;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: solid 6px black;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.toggle-button:not(:first-child) {
    border-left: solid 1px black;
}

.toggle-button.on {
   background-color: #ffff42;
}

.toggle-button.on.cold {
   background-color: #3f94e8;
}

.toggle-button.on.p10 {
   background-color: #a0e1ed;
}

.toggle-button.on.p20 {
   background-color: #b4ecca;
}

.toggle-button.on.p40 {
   background-color: #eeecbb;
}

.toggle-button.on.p90 {
   background-color: #fdd866;
}

.toggle-button.on.hot {
   background-color: #f58a60;
}

.button-group {
    display: inline-block;
    background-color: white;
    border: solid 1px black;
    margin: 5px;
    transform: skew(-15deg);
    border-radius: 3px;
}

.container.controls .button-group:last-child {
    font-size: 0.85em;
}

.container.heat-src {
    position: relative;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    margin: 1em;
    max-width: 650px;
    height: 4em;
}

.container.heat-src .heat-src-name {
    @include code-font;
    font-size: 1.3em;
    padding: 0.5em 0.5em 0;
    z-index: 10;
}

.container.heat-src .heat-src-loc {
    @include code-font;
    padding: 0 1em;
    z-index: 10;
}

.container.heat-src .heat-src-count {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0.5em;
    user-select: none;
}

.container.heat-src .heat-src-count .heat-src-count-label {
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
    text-transform: uppercase;
}

.container.heat-src .heat-src-count .heat-src-count-value {
    position: relative;
    right: 0;
    top: 0;
    font-size: 1.5em;
    text-align: right;
}
