@mixin text-font {
  font-family: 'Oxanium', cursive;
}

@mixin code-font {
  font-family: 'Share Tech Mono', monospace;
}

body {
    @include text-font;
    font-size: 14px;
    border-top: solid 2px black;
    margin: 0;
    padding: 9;
}

code {
    border-style: dotted;
    border-color: #aaa;
    border-width: 1px;
    padding: 0.1em 0.5em;
    box-shadow: inset 0 0 10px #ffe;
    border-radius: 4px;
}

main {
    @include code-font;
    font-size: 0.85em;
}

.container.message {
    margin: 0.5em;
    line-height: 2em;
}
